<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN"> <!-- removed  xmlns="https://logging.apache.org/xml/ns"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    https://logging.apache.org/xml/ns
    https://logging.apache.org/xml/ns/log4j-config-2.xsd"-->
    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="%p - %m%n"/>
        </Console>
        <File name="DEBUG" fileName="logs/debug.log">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %p{length=5} %l %n%m%n%n"/>
        </File>
        <File name="TRACE" fileName="logs/trace.log">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %p{length=5} %l %n%m%n%n"/>
        </File>
        <File name="ERROR" fileName="logs/error.log">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %p{length=5} %l %n%m%n%n"/>
        </File>
        <File name="WARN" fileName="logs/warn.log">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %p{length=5} %l %n%m%n%n"/>
        </File>
        <File name="FATAL" fileName="logs/fatal.log">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %p{length=5} %l %n%m%n%n"/>
        </File>
        <File name="INFO" fileName="logs/info.log">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %p{length=5} %l %n%m%n%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="ERROR" level="ERROR"/>
            <AppenderRef ref="FATAL" level="FATAL"/>
            <AppenderRef ref="INFO" level="INFO"/>
            <AppenderRef ref="TRACE" level="TRACE"/>
            <AppenderRef ref="WARN" level="WARN"/>
            <AppenderRef ref="DEBUG" level="DEBUG"/>
        </Root>
    </Loggers>
</Configuration>